
if SHIELD_WATERFOWL_LEFT

config ZMK_KEYBOARD_NAME
    default "Waterfowl"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_WATERFOWL_LEFT || SHIELD_WATERFOWL_RIGHT

config ZMK_SPLIT
    default y

if ZMK_DISPLAY

config spi
    default y

config st7789v
    default y

endif # ZMK_DISPLAY

if LVGL

config LV_Z_BITS_PER_PIXEL
	default 24

endchoice

endif # LVGL

endif
